---
http_interactions:
- request:
    method: get
    uri: https://<INSIGHTLY_API_KEY>:@api.insight.ly/v2.2/Organisations/117309796
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ORGANISATION_ID":117309796,"ORGANISATION_NAME":"Clampett Oil and
        Gas Corp.","BACKGROUND":null,"IMAGE_URL":"http://s3.amazonaws.com/insightly.userfiles/892327/LNSHL0/446c9cd3-ecc2-4e35-b512-8711b17a6e25.png","OWNER_USER_ID":1511846,"DATE_CREATED_UTC":"2017-11-23
        09:35:48","DATE_UPDATED_UTC":"2017-11-23 09:35:51","VISIBLE_TO":"EVERYONE","VISIBLE_TEAM_ID":null,"VISIBLE_USER_IDS":null,"CUSTOMFIELDS":[],"ADDRESSES":[{"ADDRESS_ID":20117309796,"ADDRESS_TYPE":"PRIMARY","STREET":"1000
        Escalon Street","CITY":"Palo Alto","STATE":"CA","POSTCODE":"94020","COUNTRY":"United
        States"}],"CONTACTINFOS":[{"CONTACT_INFO_ID":40117309796,"TYPE":"PHONE","SUBTYPE":null,"LABEL":"WORK","DETAIL":"(626)
        847-1294"}],"DATES":[],"TAGS":[{"TAG_NAME":"sample_data"}],"LINKS":[],"ORGANISATIONLINKS":[],"CAN_EDIT":true,"CAN_DELETE":true,"SOCIAL_LINKEDIN":null,"SOCIAL_FACEBOOK":null,"SOCIAL_TWITTER":null}'
  recorded_at: Tue, 28 Nov 2017 00:06:41 GMT
- request:
    method: post
    uri: https://<INSIGHTLY_API_KEY>:@api.insight.ly/v2.2/Organisations
    body:
      encoding: UTF-8
      string: '{"ORGANISATION_ID":117309796,"ORGANISATION_NAME":"Clampett Oil and
        Gas Corp.","BACKGROUND":null,"IMAGE_URL":"http://s3.amazonaws.com/insightly.userfiles/892327/LNSHL0/446c9cd3-ecc2-4e35-b512-8711b17a6e25.png","OWNER_USER_ID":1511846,"DATE_CREATED_UTC":"2017-11-23
        09:35:48","DATE_UPDATED_UTC":"2017-11-23 09:35:51","VISIBLE_TO":"EVERYONE[...]
