---
http_interactions:
- request:
    method: get
    uri: https://<INSIGHTLY_API_KEY>:@api.insight.ly/v2.2/Contacts/Search
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"CONTACT_ID":243581668,"SALUTATION":null,"FIRST_NAME":"Xiang","LAST_NAME":"Ji","BACKGROUND":null,"IMAGE_URL":null,"DEFAULT_LINKED_ORGANISATION":null,"OWNER_USER_ID":1511846,"DATE_CREATED_UTC":"2017-11-23
        09:35:46","DATE_UPDATED_UTC":"2017-11-23 09:36:03","VISIBLE_TO":"EVERYONE","VISIBLE_TEAM_ID":null,"VISIBLE_USER_IDS":null,"CUSTOMFIELDS":[],"ADDRESSES":null,"CONTACTINFOS":[{"CONTACT_INFO_ID":100243581668,"TYPE":"EMAIL","SUBTYPE":null,"LABEL":"WORK","DETAIL":"jx4554@gmail.com"}],"DATES":[],"TAGS":[],"LINKS":[],"CONTACTLINKS":[],"CAN_EDIT":true,"CAN_DELETE":true,"SOCIAL_LINKEDIN":null,"SOCIAL_FACEBOOK":null,"SOCIAL_TWITTER":null,"ASSISTANT_NAME":null},{"CONTACT_ID":243581670,"SALUTATION":null,"FIRST_NAME":"Albert","LAST_NAME":"Lee","BACKGROUND":null,"IMAGE_URL":"http://s3.amazonaws.com/insightly.userfiles/892327/LNSHL0/f4ba3de0-f61e-4efd-bd0a-57852438505a.png","DEFAULT_LINKED_ORGANISATION":117309800,"OWNER_USER_ID":1511846,"DATE_CREATED_UTC":"2017-11-23
        09:35:49","DATE_UPDATED_UTC":"2017-11-23 09:35:55","VISIBLE_TO":"EVERYONE","VISIBLE_TEAM_ID":null,"VISIBLE_USER_IDS":null,"CUSTOMFIELDS":[],"ADDRESSES":[{"ADDRESS_ID":10243581670,"ADDRESS_TYPE":"POSTAL","STREET":"110
        Clyde Gallagher Street","CITY":"Fort Collins","STATE":"CO","POSTCODE":"80525","COUNTRY":"United
        States"}],"CONTACTINFOS":[{"CONTACT_INFO_ID":40243581670,"TYPE":"PHONE","SUBTYPE":null,"LABEL":"WORK","DETAIL":"(970)
        805-8725"},{"CONTACT_INFO_ID":100243581670,"TYPE":"EMAIL","SUBTYPE":null,"LABEL":"WORK","DETAIL":"albertlee@globex.com"}],"DATES":[],"TAGS":[{"TAG_NAME":"sample_data"}],"LINKS":[{"LINK_ID":167774247,"CONTACT_ID":243581670,"OPPORTUNITY_ID":null,"ORGANISATION_ID":117309800,"PROJECT_ID":null,"SECOND_PROJECT_ID":null,"SECOND_OPPORTUNITY_ID":null,"ROLE":"Employee","DETAILS":null},{"LINK_ID":167774303,"CONTACT_ID":243581670,"OPPORTUNITY_ID":null,"ORGANISATION_ID":null,"PROJECT_ID":6288794,"SECOND_PROJECT_ID":null,"SECOND_OPPORTUNITY_ID":null,"ROLE":"Customer","DETAILS":null},{"LINK_ID":167774310,"CONTACT_ID":243581670,"OPPORTUNITY_ID":17715327,"ORGANISATION_ID":null,"PROJECT_ID":null,"SECOND_PROJECT_ID":null,"SECOND_OPPORTUNITY_ID":null,"ROLE":"Buyer","DETAILS":null},{"LINK_ID":167774311,"CONTACT_ID":243581670,"OPPORTUNITY_ID":17715328,"ORGANISATION_ID":null,"PROJEC[...]
